@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


/* #region: Global */
    * {
        font-family: "Poppins", sans-serif;
    }
    :root {
        --white: #ffffff;
        --black: #000000;
        --light_black: #231F20;
        --red: #E31D1D;
        --gray: #484546;
        --medium_gray: #7F7D7E;
        --input_border: #E9E9E9;
        --error_background: #f8d7da;
        --error_color: #58151c;
        --success_background: #d1e7dd;
        --success_color: #0a3622;
        --error_red: #e31010;
        --dark_green: #095D35;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 0;
    }
    a, a:hover {
        text-decoration: none!important;
    }
    .form-control:focus, .form-check-input:focus {
        box-shadow: none;
    }
    .notification-box {
        width: 50%;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }
    .notification-box .error {
        background-color: var(--error_background);
        padding: 16px 0;
        color: var(--error_color);
        border-radius: 6px;
    }
    .notification-box .success {
        background-color: var(--success_background);
        padding: 16px 0;
        color: var(--success_color);
        border-radius: 6px;
    }
/* #endregion */


/* #region: Page */
    .guest .image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .guest .form {
        padding: 0 10%;
    }
    .guest .form .title {
        font-size: 45px;
        font-weight: 600;
        color: var(--light_black);
        text-align: center;
        margin-bottom: 10px!important;
    }
    .guest .form .description {
        font-size: 20px;
        color: var(--gray);
        text-align: center;
        margin-bottom: 60px!important;
    }
    .guest .form .label {
        font-size: 18px;
        font-weight: 500;
        color: var(--light_black);
        margin-bottom: 10px!important;
    }
    .guest .form .input-field {
        border: 1px solid var(--input_border);
        border-radius: 0;
        height: 60px;
        font-size: 17px;
        color: var(--medium_gray);
    }
    .guest .form .input-field::placeholder {
        font-size: 15px;
    }
    .guest .form .error-message {
        font-size: 16px;
        color: var(--error_red);
        margin-top: 8px;
    }
    .guest .form .remember {
        font-size: 16px;
        color: var(--medium_gray);
    }
    .guest .form .checkbox {
        border-radius: 0!important;
        width: 17px;
        height: 17px;
        margin-right: 8px;
        margin-top: -2px;
    }
    .guest .form .forgot-password {
        font-size: 16px;
        color: var(--medium_gray);
    }
    .guest .form .button {
        background-color: var(--red);
        width: 100%;
        border-radius: 40px;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--white);
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            transition: all 0.3s;
        }
    }
    .guest .form .toggle-password {
        color: var(--medium_gray);
        cursor: pointer;
        position: absolute;
        top: 52px;
        font-size: 20px;
        right: 20px;
    }
    .guest .remember-password {
        color: var(--medium_gray);
        font-size: 16px;
        text-align: center;
        margin-top: 30px;
    }
/* #endregion */


/* #region: Modal */
    .notification-modal {
        text-align: center;
    }
    .notification-modal .modal-body {
        padding: 30px;
    }
    .notification-modal .tick-icon {
        font-size: 35px;
        color: var(--dark_green);
    }
    .notification-modal .title {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 10px;
        color: var(--black);
    }
    .notification-modal .description {
        font-size: 16px;
        color: var(--light_black);
    }
    .notification-modal .close-button {
        border: 1px solid var(--light_black);
        font-size: 14px;
        font-weight: 600;
        border-radius: 0;
        color: var(--light_black);
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            color: var(--white);
            transition: all 0.3s;
        }
    }
    .notification-modal .arrow-icon {
        padding-right: 10px;
    }
    .notification-modal .triangle-icon {
        font-size: 35px;
        color: var(--medium_red);
    }
    .notification-modal .close-icon {
        font-size: 35px;
        color: var(--red);
    }
    .notification-modal .buttons {
        display: flex;
        align-items: center;
        margin-top: 25px;
        justify-content: center;
        gap: 20px;
    }
    .notification-modal .cancel-button {
        font-size: 16px;
        font-weight: 600;
        border-radius: 0;
        color: var(--light_black);
        transition: all 0.3s;
        &:hover {
            font-weight: 800;
            transition: all 0.3s;
        }
    }
/* #endregion */


/* #region: Responsive */
    @media (width <= 1921px) {}
    @media (width <= 1901px) {}
    @media (width <= 1851px) {}
    @media (width <= 1801px) {}
    @media (width <= 1751px) {}
    @media (width <= 1681px) {}
    @media (width <= 1601px) {}
    @media (width <= 1537px) {}
    @media (width <= 1441px) {}
    @media (width <= 1367px) {}
    @media (width <= 1301px) {}
    @media (width <= 1281px) {}
    @media (width <= 1151px) {}
    @media (width <= 1076px) {}
    @media (width <= 1025px) {
        .guest .form .title {
            font-size: 40px;
            margin-bottom: 5px !important;
        }
        .guest .form .description {
            font-size: 16px;
            margin-bottom: 40px !important;
        }
        .guest .form .label {
            font-size: 16px;
            margin-bottom: 5px !important;
        }
        .guest .form .input-field {
            height: 50px;
            font-size: 16px;
        }
        .guest .form .input-field::placeholder {
            font-size: 14px;
        }
        .guest .form .toggle-password {
            top: 40px;
            right: 15px;
        }
        .guest .form .remember {
            font-size: 15px;
        }
        .guest .form .forgot-password {
            font-size: 15px;
        }
        .guest .remember-password {
            font-size: 14px;
            margin-top: 20px;
        }
    }
    @media (width <= 992px) {}
    @media (width <= 845px) {}
    @media (width <= 768px) {
        .guest {
            display: flex;
            align-items: center;
            height: 100vh;
        }
        .guest .form {
            padding: 0 5%;
        }
    }
    @media (width <= 721px) {}
    @media (width <= 651px) {}
    @media (width <= 576px) {}
    @media (width <= 481px) {}
    @media (width <= 429px) {
        .guest .form .title {
            font-size: 35px;
        }
    }
    @media (width <= 415px) {}
    @media (width <= 396px) {}
    @media (width <= 377px) {}
    @media (width <= 361px) {}
    @media (width <= 331px) {
        .guest .form .title {
            font-size: 30px;
        }
        .guest .form .description {
            font-size: 15px;
            margin-bottom: 15px!important;
        }
        .guest .form .toggle-password {
            top: 43px;
            right: 10px;
            font-size: 16px;
        }
        .guest .form .remember {
            font-size: 14px;
        }
        .guest .form .forgot-password {
            font-size: 14px;
        }
        .guest .remember-password {
            margin-top: 10px;
        }
    }
/* #endregion */