/* #region: Page */
    .page .title {
        font-size: 26px;
        font-weight: 600;
        color: var(--black);
    }
    .page .description {
        font-size: 18px;
        color: var(--light_black);
    }
    .page .add-button {
        font-size: 16px;
        background-color: var(--light_black);
        color: var(--white);
        padding: 15px 40px;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--red);
            transition: all 0.3s;
        }
    }
    .page .add-button i {
        font-size: 15px;
        margin-right: 7px;
    }
/* #endregion */


/* #region: Filter */
    .page .filter-form {
        display: flex;
        height: 80px;
        background: var(--white);
        border: 1px solid var(--input_border);
        border-radius: 8px;
        align-items: center;
    }
    .page .filter-form .input-field {
        height: 100%;
        border: none;
        border-right: 1px solid var(--input_border);
        border-radius: 0;
        font-size: 15px;
        color: var(--light_black);
        font-weight: 600;
    }
    .page .filter-form .input-field.width {
        width: 55%;
    }
    .page .filter-form .input-field::placeholder {
        font-size: 15px;
        font-weight: 600;
        color: var(--light_black);
    }
    .page .filter-form .input-group {
        height: 100%;
    }
    .page .filter-form .input-group-text {
        background-color: white;
        border: none;
        padding-right: 0;
    }
    .page .filter-form .reset {
        color: var(--red);
        font-weight: 600;
        /* display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px; */
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            color: var(--white);
            transition: all 0.3s;
        }
    }
    .page .filter-form .apply-button {
        background-color: var(--red);
        color: white;
        border: none;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 100%;
        height: 100%;
        font-weight: 600;
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            transition: all 0.3s;
        }
    }
    .page .filter-form .select2-container {
        height: 100%;
        width: 300px!important;
    }
    .page .filter-form .select2-container--default .select2-selection--single {
        border: none;
        border-right: 1px solid var(--input_border);
        border-radius: 0;
        height: 100%;
        width: 250px;
        outline: none;
        display: flex;
        align-items: center;
    }
    .page .filter-form .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 15px;
        color: var(--light_black);
        font-weight: 600;
        line-height: 28px;
    }
    .page .filter-form .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: initial!important;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: var(--red);
    }
    .select2-results__option {
        font-size: 15px;
    }
/* #endregion */


/* #region: Pagination */
    .page .custom-pagination {
        margin-bottom: 10px;
        font-size: 13px;
        color: var(--gray);
    }
    .page .custom-pagination select {
        margin: 0 5px;
        font-size: 12px;
    }
    .page nav {
        margin-top: 20px;
    }
    .page nav .small {
        font-size: 13px;
        color: var(--gray);
    }
    .page nav .pagination {
        margin-bottom: 0;
    }
    .page nav .page-link {
        font-size: 13px;
        color: var(--black);
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
        border-top-right-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
    .page nav .page-link:focus {
        box-shadow: none;
    }
    .page nav .active .page-link {
        color: var(--white);
        background-color: var(--light_black);
        border-color: var(--input_border);
    }
/* #endregion */


/* #region: Table */
    /* .page .table-container {
        overflow-x: auto;
        white-space: nowrap;
    }
    .page .table-container::-webkit-scrollbar {
        height: 10px;
    }
    .page .table-container::-webkit-scrollbar-track {
        background: #dedede;
        border-radius: 5px;
    }
    .page .table-container::-webkit-scrollbar-thumb {
        background-color: #0040C3;
        border-radius: 5px;
    }
    .page .table-container::-webkit-scrollbar-thumb:hover {
        background-color: #083287;
        cursor: pointer;
    } */
    .page .table-container .table {
        margin-bottom: 0;
    }
    .page .table-container .table th {
        font-size: 16px;
        color: var(--black);
        font-weight: 600;
        border: none;
        padding: 20px 15px;
        border-bottom: 1px solid var(--input_border);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .page .table-container .table tr {
        border-bottom: 1px solid var(--input_border);
        background-color: var(--white);
        font-size: 15px;
        color: var(--light_black);
        vertical-align: middle;
    }
    .page .table-container .table tr td {
        border: none;
        padding: 25px 15px;
    }
    .page .table-container .table tr:last-child {
        border-bottom: none;
    }
    .page .table-container .table .action-button {
        font-size: 20px;
        -webkit-text-stroke: 0.5px;
        margin: 0 7px;
        cursor: pointer;
    }
    .page .table-container .table .action-button {
        color: var(--light_black);
    }
    .page .table-container .table .action-button.delete-button {
        color: var(--red);
    }
    .page .table-container .table .status {
        font-size: 12px;
        font-weight: 600;
        width: 90px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    .page .table-container .table .status.active-status {
        color: var(--dark_green);
        background: var(--green_opacity);
    }
    .page .table-container .table .status.inactive-status {
        color: var(--gray);
        background: var(--medium_white);
    }
    .page .table-container .table .table-link {
        font-weight: 600;
        color: var(--blue);
        &:hover {
            text-decoration: underline!important;
        }
    }
/* #endregion */


/* #region: Modal */
    .notification-modal {
        text-align: center;
    }
    .notification-modal .modal-body {
        padding: 30px;
    }
    .notification-modal .tick-icon {
        font-size: 35px;
        color: var(--dark_green);
    }
    .notification-modal .title {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 10px;
        color: var(--black);
    }
    .notification-modal .description {
        font-size: 16px;
        color: var(--light_black);
    }
    .notification-modal .close-button {
        border: 1px solid var(--light_black);
        font-size: 14px;
        font-weight: 600;
        border-radius: 0;
        color: var(--light_black);
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            color: var(--white);
            transition: all 0.3s;
        }
    }
    .notification-modal .arrow-icon {
        padding-right: 10px;
    }
    .notification-modal .triangle-icon {
        font-size: 35px;
        color: var(--medium_red);
    }
    .notification-modal .close-icon {
        font-size: 35px;
        color: var(--red);
    }
    .notification-modal .buttons {
        display: flex;
        align-items: center;
        margin-top: 25px;
        justify-content: center;
        gap: 20px;
    }
    .notification-modal .cancel-button {
        font-size: 16px;
        font-weight: 600;
        border-radius: 0;
        color: var(--light_black);
        transition: all 0.3s;
        &:hover {
            font-weight: 800;
            transition: all 0.3s;
        }
    }
    .notification-modal .delete-button {
        background-color: var(--red);
        font-size: 16px;
        font-weight: 600;
        border-radius: 0;
        border: none;
        color: var(--white);
        width: 200px;
        height: 60px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            transition: all 0.3s;
        }
    }
    .notification-modal .delete-button .delete-icon {
        padding-right: 5px;
    }
/* #endregion */


/* #region: Pages */
    .page .single-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        background-color: var(--white);
        padding: 30px;
    }
    .page .single-page:last-child {
        margin-bottom: 0;
    }
    .page .single-page .page-name {
        font-size: 17px;
        color: var(--black);
        font-weight: 500;
    }
    .page .single-page .links {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .page .single-page .links .link {
        font-size: 16px;
        color: var(--gray);
        font-weight: 500;
        line-height: 20px;
    }
    .page .single-page .links .link i {
        padding-right: 5px;
    }
/* #endregion */