/* #region: Sidebar */
.sidebar {
    position: fixed;
    margin-top: 75px;
    padding: 10px 0;
    height: 90vh;
    width: 70px;
    /* background-color: #191919; */
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    z-index: 9;
    transition: all 0.3s;
}
.sidebar.active {
    width: 300px;
    overflow-x: hidden;
    transition: all 0.3s;
}
.sidebar::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-track {
    background: #dedede;
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--dark_green);
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: var(--red);
    cursor: pointer;
}
.sidebar .main-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.sidebar .main-menu .link {
    position: relative;
    padding: 0 10px;
}
.sidebar .main-menu .link .single-link {
    height: 50px;
    /* color: var(--white); */
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.sidebar .main-menu .link .single-link i {
    position: absolute;
    background-color: var(--red);
    color: var(--white);
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    &:hover {
        background-color: var(--black);
        transition: all 0.3s;
    }
}
.sidebar .main-menu .link:first-of-type i {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sidebar .main-menu .link:last-of-type i {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sidebar .main-menu .link .single-link p {
    margin-left: 60px;
    margin-right: 0px;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
    &:hover {
        background-color: var(--black);
        color: var(--white);
        transition: all 0.3s;
    }
}
.sidebar .main-menu .link .single-link p.active {
    background-color: var(--black);
    color: var(--white);
}
.sidebar .main-menu .link .log-out {
    margin-left: 65px;
    padding: 0 15px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    color: var(--black) !important;
    height: 50px;
    width: 205px;
    border-radius: 10px;
    text-align: left;
    transition: all 0.3s;
    &:hover {
        background-color: var(--black);
        color: var(--white) !important;
        transition: all 0.3s;
    }
}
/* #endregion */

/* #region: Responsive */
@media (width <= 1921px) {
}
@media (width <= 1901px) {
}
@media (width <= 1851px) {
}
@media (width <= 1801px) {
}
@media (width <= 1751px) {
}
@media (width <= 1681px) {
}
@media (width <= 1601px) {
}
@media (width <= 1537px) {
}
@media (width <= 1441px) {
}
@media (width <= 1367px) {
}
@media (width <= 1301px) {
}
@media (width <= 1281px) {
    .sidebar .main-menu .link .single-link {
        font-size: 14px;
    }
    .sidebar .main-menu .link .single-link p {
        padding: 0 10px;
    }
    .sidebar .main-menu .link .log-out {
        font-size: 14px;
        margin-left: 60px;
        padding: 0 10px;
        width: 145px;
    }
    .sidebar.active {
        width: 230px;
    }
}
@media (width <= 1151px) {
}
@media (width <= 1076px) {
}
@media (width <= 1025px) {
}
@media (width <= 992px) {
}
@media (width <= 845px) {
}
@media (width <= 768px) {
    .sidebar {
        margin-top: 60px;
    }
    .sidebar .main-menu .link .single-link {
        font-size: 13px;
    }
}
@media (width <= 721px) {
}
@media (width <= 651px) {
}
@media (width <= 576px) {
    .sidebar.active {
        width: 0;
    }
}
@media (width <= 481px) {
}
@media (width <= 429px) {
}
@media (width <= 415px) {
}
@media (width <= 396px) {
}
@media (width <= 377px) {
}
@media (width <= 361px) {
}
@media (width <= 331px) {
}
/* #endregion */
