/* #region Section 2 */
    .confirm-booking .section-2 .left .top-box {
        background-color: var(--low_gray);
        border: 2px solid var(--input_border);
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 20px;
    }
    .confirm-booking .section-2 .left .top-box .property {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 40px;
    }
    .confirm-booking .section-2 .left .top-box .property .image {
        width: 90px;
        height: 90px;
        border-radius: 4px;
        object-fit: cover;
    }
    .confirm-booking .section-2 .left .top-box .property .title {
        font-size: 20px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 5px;
    }
    .confirm-booking .section-2 .left .top-box .property .subtitle {
        font-size: 15px;
        color: var(--gray);
        padding-bottom: 3px;
    }
    .confirm-booking .section-2 .left .top-box .property i {
        font-size: 15px;
        color: var(--red);
    }
    .confirm-booking .section-2 .left .top-box .property .value {
        font-size: 14px;
        font-weight: 500;
        color: var(--gray);
    }
    .confirm-booking .section-2 .left .top-box .property .count {
        font-size: 13px;
        color: var(--medium_gray);
    }
    .confirm-booking .section-2 .left .top-box .price-details .title {
        font-size: 20px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 10px;
    }
    .confirm-booking .section-2 .left .top-box .price-details .single-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .confirm-booking .section-2 .left .top-box .price-details .single-price:last-child {
        margin-bottom: 0;
    }
    .confirm-booking .section-2 .left .top-box .price-details .single-price p {
        font-size: 16px;
        color: var(--light_black);
    }
    .confirm-booking .section-2 .left .top-box .price-details .single-price.total {
        font-weight: 600;
        color: var(--black);
    }
    .confirm-booking .section-2 .left .bottom-box {
        background-color: var(--low_gray);
        border: 2px solid var(--input_border);
        border-radius: 8px;
        padding: 20px;
    }
    .confirm-booking .section-2 .left .bottom-box .title {
        font-size: 20px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 10px;
    }
    .confirm-booking .section-2 .left .bottom-box .single-booking {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .confirm-booking .section-2 .left .bottom-box .single-booking:last-child {
        margin-bottom: 0;
    }
    .confirm-booking .section-2 .left .bottom-box .single-booking .details .label {
        font-size: 16px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 2px;
    }
    .confirm-booking .section-2 .left .bottom-box .single-booking .details .value {
        font-size: 14px;
        color: var(--gray);
    }
    .confirm-booking .section-2 .left .bottom-box .single-booking .edit {
        font-size: 16px;
        color: var(--light_black);
    }
    .confirm-booking .section-2 .left .bottom-box .single-booking .edit i {
        padding-right: 5px;
    }
    .confirm-booking .section-2 .right .box {
        border: 2px solid var(--input_border);
        border-radius: 8px;
        padding: 20px;
    }
    .confirm-booking .section-2 .right .box .title {
        font-size: 20px;
        font-weight: 600;
        color: var(--light_black);
        padding-bottom: 20px;
    }
    .confirm-booking .section-2 .right .box .form .label {
        font-size: 16px;
        font-weight: 500;
        color: var(--light_black);
        margin-bottom: 10px!important;
    }
    .confirm-booking .section-2 .right .box .form .input-field {
        border: 1px solid var(--input_border);
        border-radius: 4px;
        height: 50px;
        font-size: 14px;
        color: var(--medium_gray);
    }
    .confirm-booking .section-2 .right .box .form .remember {
        font-size: 14px;
        color: var(--medium_gray);
    }
    .confirm-booking .section-2 .right .box .form .checkbox {
        border-radius: 0!important;
        width: 13px;
        height: 13px;
        margin-right: 6px;
        margin-top: 0px;
    }
    .confirm-booking .section-2 .right .box .form .forgot-password {
        font-size: 14px;
        color: #7F7D7E;
    }
    .confirm-booking .section-2 .right .box .form .login-button {
        background-color: var(--red);
        width: 100%;
        border-radius: 4px;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 30px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            transition: all 0.3s;
        }
    }
    .confirm-booking .section-2 .right .box .register-button {
        border: 1px solid var(--input_border);
        font-size: 15px;
        color: var(--gray);
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--red);
            color: var(--white);
            transition: all 0.3s;
        }
    }
    .confirm-booking .section-2 .right .box .register-button i {
        padding-right: 5px;
    }
/* #endregion */


/* #region Responsive */
    @media (width <= 1921px) {}
    @media (width <= 1901px) {}
    @media (width <= 1851px) {}
    @media (width <= 1801px) {}
    @media (width <= 1751px) {}
    @media (width <= 1681px) {}
    @media (width <= 1601px) {}
    @media (width <= 1537px) {}
    @media (width <= 1441px) {}
    @media (width <= 1367px) {}
    @media (width <= 1301px) {}
    @media (width <= 1281px) {}
    @media (width <= 1151px) {}
    @media (width <= 1076px) {}
    @media (width <= 1025px) {}
    @media (width <= 991px) {}
    @media (width <= 845px) {}
    @media (width <= 768px) {}
    @media (width <= 721px) {}
    @media (width <= 651px) {}
    @media (width <= 576px) {}
    @media (width <= 481px) {}
    @media (width <= 429px) {}
    @media (width <= 415px) {}
    @media (width <= 396px) {}
    @media (width <= 377px) {}
    @media (width <= 361px) {}
    @media (width <= 331px) {}
/* #endregion */