/* Global */
    .footer {
        margin-top: 0;
    }
/* Global */


/* Section 1 */
    .homepage .section-1 {
        position: relative;
        margin-bottom: 50px;
        z-index: 1;
    }
    .homepage .section-1 .banner {
        width: 100%;
        height: 75vh;
        object-fit: cover;
        filter:opacity(0.6)
    }
    .homepage .section-1 .overlay {
        width: 65%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .homepage .section-1 .overlay .title {
        font-size: 65px;
        line-height: 80px;
        font-weight: 600;
        text-align: center;
        color: var(--light_black);
        padding-bottom: 30px;
    }
    .homepage .section-1 .overlay .description {
        margin: auto;
        width: 80%;
        font-size: 20px;
        text-align: center;
        color: var(--gray);
        padding-bottom: 30px;
    }
    .homepage .section-1 .overlay .search-bar {
        position: relative;
        background-color: var(--white);
        border-radius: 32px;
        padding: 15px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item {
        padding: 0 20px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .search-label {
        font-size: 14px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 3px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .search-input {
        font-size: 14px;
        color: var(--gray);
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .divider {
        width: 1px;
        height: 40px;
        background-color: var(--input_border);
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-button {
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 16px;
        color: var(--white);
        background-color: var(--light_black);
        padding: 12px 20px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--red);
            transition: all 0.3s;
        }
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-button {
        margin-right: 5px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown {
        position: initial!important;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .dropdown-menu {
        width: 100%;
        transform: none!important;
        top: 100%!important;
        border: none;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .dropdown-menu {
        border-radius: 32px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .dropdown-menu .dropdown-inner {
        padding: 25px 100px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .dropdown-inner {
        padding: 25px 50px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .top-row .legends {
        display: flex;
        align-items: center;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .top-row .legends .pick-by {
        font-size: 16px;
        font-weight: 500;
        color: var(--light_black);
        margin-right: 10px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .top-row .legends .pick-mode {
        background-color: var(--white);
        color: var(--light_black);
        border: 1px solid var(--input_border);
        border-radius: 4px;
        font-size: 13px;
        font-weight: 500;
        margin-right: 15px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            color: var(--white);
            transition: all 0.3s;
        }
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .top-row .monthly-reservations {
        background-color: transparent;
        color: var(--light_black);
        padding: 0;
        border: none;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.3s;
        &:hover {
            font-weight: 700;
            transition: all 0.3s;
        }
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .dropdown-divider {
        border-top: 1px solid var(--input_border);
        margin: 20px 0 30px 0;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        gap: 50px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar {
        width: 50%;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker.-inline- {
        width: 100%;
        border: none;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-nav {
        border: none;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-nav--title {
        font-size: 17px;
        font-weight: 500;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-body--day-names {
        margin: 8px 0 5px;
        gap: 20px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-body--day-name {
        font-size: 15px;
        font-weight: 500;
        color: var(--light_black);
        width: 40px;
        height: 40px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-body--cells {
        gap: 10px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-cell.-day- {
        font-size: 15px;
        color: var(--light_black);
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-cell.-focus- {
        background: var(--red);
        color: var(--white);
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-cell.-disabled- {
        color: #A5A3A4;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-cell.-disabled-.-focus- {
        background: none;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-cell.-selected- {
        color: var(--white);
        border: none;
        background: var(--red);
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-cell.-selected-.-current- {
        color: var(--white);
        border: none;
        background: var(--red);
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-cell.-current-.-focus- {
        color: var(--white);
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .calendars .calendar .air-datepicker-cell.-selected-.-focus- {
        background: var(--red);
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .warehouse-dropdown .dropdown-title {
        font-size: 14px;
        color: var(--gray);
        padding-bottom: 10px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .warehouse-dropdown .radios {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .warehouse-dropdown .label {
        font-size: 14px;
        color: var(--medium_gray);
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .warehouse-dropdown .dropdown-divider {
        border-top: 1px solid var(--input_border);
        margin: 20px 0 30px 0;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .warehouse-dropdown .checkboxes .single-check {
        margin-bottom: 15px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .warehouse-dropdown .checkboxes .single-check:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .warehouse-dropdown .clear-button {
        background: none;
        border: none;
        color: var(--red);
        font-size: 15px;
        font-weight: 500;
        margin: auto;
        display: block;
        margin-top: 25px;
        transition: all 0.3s;
        &:hover {
            color: var(--light_black);
            transition: all 0.3s;
        }
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .monthly-calendar-view .monthly-calendar-view-title {
        font-size: 16px;
        text-align: center;
        font-weight: 600;
        padding-bottom: 25px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .monthly-calendar-view .months-row .single-month {
        margin-bottom: 40px;
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .monthly-calendar-view .months-row .single-month .single-month-button {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        border: 1px solid var(--input_border);
        transition: all 0.3s;
        &:hover {
            background-color: var(--red);
            border: none;
            color: var(--white);
            transition: all 0.3s;
        }
    }
    .homepage .section-1 .overlay .search-bar .search-inputs .search-item .dropdown .calendar-dropdown .monthly-calendar-view .months-row .single-month:nth-last-child(-n+4) {
        margin-bottom: 0;
    }
/* Section 1 */


/* Section 2 */
    .homepage .section-2 .nav-pills {
        border-bottom: 1px solid var(--input_border);
        margin-bottom: 25px;
    }
    .homepage .section-2 .nav-pills .nav-item {
        margin-right: 40px;
    }
    .homepage .section-2 .nav-pills .nav-item .nav-link {
        font-size: 17px;
        padding: 0;
        padding-bottom: 10px;
        color: var(--gray);
        border-radius: 0;
    }
    .homepage .section-2 .nav-pills .nav-item .nav-link.active {
        background-color: transparent;
        font-weight: 500;
        color: var(--light_black);
        border-bottom: 2px solid var(--red);
    }
    .homepage .section-2 .tab-content .card {
        border-radius: 4px;
        padding: 15px;
        border: 1px solid var(--input_border);
    }
    .homepage .section-2 .tab-content .card .card-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 4px;
        margin-bottom: 12px;
    }
    .homepage .section-2 .tab-content .card .card-body {
        padding: 0;
    }
    .homepage .section-2 .tab-content .card .card-body .type {
        font-size: 14px;
        color: var(--medium_gray);
    }
    .homepage .section-2 .tab-content .card .card-body .title {
        font-size: 24px;
        color: var(--light_black);
    }
    .homepage .section-2 .tab-content .card .card-body .description {
        font-size: 16px;
        color: var(--medium_gray);
        padding-bottom: 10px;
    }
    .homepage .section-2 .tab-content .card .card-body .location {
        font-size: 14px;
        color: var(--medium_gray);
        padding-bottom: 15px;
    }
    .homepage .section-2 .tab-content .card .card-body .location i {
        margin-right: 5px;
    }
    .homepage .section-2 .tab-content .card .card-body .bottom-box {
        background-color: var(--low_gray);
        font-size: 13px;
        color: var(--medium_gray);
        padding: 8px 13px;
        border-radius: 7px;
    }
    .homepage .section-2 .tab-content .card .card-body .bottom-box .span-text {
        margin: 0 10px;
    }
    .homepage .section-2 .tab-content .card .card-body .bottom-box i {
        margin-right: 5px;
    }
/* Section 2 */


/* Section 3 */
    .homepage .section-3 .card {
        border-radius: 4px;
        padding: 15px;
        border: 1px solid var(--input_border);
        margin-bottom: 20px;
    }
    .homepage .section-3 .card .card-row {
        align-items: center;
    }
    .homepage .section-3 .card .image {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
    .homepage .section-3 .card .title {
        font-size: 16px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 10px;
    }
    .homepage .section-3 .card .description {
        font-size: 14px;
        color: var(--gray);
        line-height: 25px;
        padding-bottom: 10px;
    }
    .homepage .section-3 .card .checkout {
        font-size: 15px;
        color: var(--gray);
    }
/* Section 3 */


/* Section 4 */
    .homepage .section-4 {
        background-image: url('/storage/frontend/homepage-coming-soon.png');
        background-size: contain;
        padding-top: 60px;
    }
    .homepage .section-4 .section-4-row {
        align-items: center;
    }
    .homepage .section-4 .title {
        font-size: 32px;
        font-weight: 500;
        color: var(--white);
        padding-bottom: 15px;
    }
    .homepage .section-4 .description {
        font-size: 16px;
        color: var(--white);
        line-height: 30px;
        padding-bottom: 20px;
    }
    .homepage .section-4 .form {
        border: 1px solid #2D2D2D;
        padding: 10px 15px;
        border-radius: 8px;
    }
    .homepage .section-4 .form .form-row {
        align-items: center;
    }
    .homepage .section-4 .form .input {
        background-color: transparent;
        width: 100%;
        color: var(--white);
        border: none;
        outline: none;
    }
    .homepage .section-4 .form .submit-button {
        background-color: var(--red);
        border: none;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        font-size: 14px;
        color: var(--white);
        font-weight: 600;
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            transition: all 0.3s;
        }
    }
    .homepage .section-4 .form input::placeholder {
        color: var(--medium_gray);
    }
    .homepage .section-4 .image {
        width: 100%;
        object-fit: cover;
    }
/* Section 4 */


/* Section 5 */
    .homepage .section-5 .view-more-button {
        border: 1px solid var(--red);
        color: var(--red);
        font-size: 18px;
        font-weight: 500;
        width: 250px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        transition: all 0.3s;
        &:hover {
            background-color: var(--red);
            color: var(--white);
            transition: all 0.3s;
        }
    }
    .homepage .section-5 .left-image {
        width: 100%;
        height: 420px;
        object-fit: cover;
        padding-bottom: 20px;
    }
    .homepage .section-5 .date {
        font-size: 15px;
        color: var(--gray);
        padding-bottom: 5px;
    }
    .homepage .section-5 .title {
        font-size: 24px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 5px;
    }
    .homepage .section-5 .description {
        font-size: 16px;
        color: var(--medium_gray);
        line-height: 30px;
        padding-bottom: 10px;
    }
    .homepage .section-5 .read-more-button {
        font-size: 15px;
        color: var(--gray);
        font-weight: 500;
        &:hover {
            font-weight: 600;
        }
    }
    .homepage .section-5 .single-article {
        margin-bottom: 30px;
    }
    .homepage .section-5 .single-article:last-child {
        margin-bottom: 0;
    }
    .homepage .section-5 .right-image {
        width: 100%;
        height: 175px;
        object-fit: cover;
        padding-bottom: 10px;
    }
/* Section 5 */
    

/* Section 6 */
    .homepage .section-6 {
        background-color: var(--black);
        padding: 30px 0;
    }
    .homepage .section-6 .advertise {
        align-items: center;
    }
    .homepage .section-6 .advertise .text {
        font-size: 32px;
        color: var(--white);
    }
    .homepage .section-6 .advertise .text:last-child {
        padding-bottom: 0;
    }
    .homepage .section-6 .advertise .advertise-button {
        background-color: var(--red);
        color: var(--white);
        font-size: 18px;
        font-weight: 500;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            transition: all 0.3s;
        }
    }
/* Section 6 */