/* #region Page */
    .login .right {
        padding-left: 8%;
    }
    .login .image {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .login .title {
        font-size: 32px;
        font-weight: 500;
        color: var(--light_black);
        margin-bottom: 5px!important;
    }
    .login .description {
        font-size: 16px;
        color: var(--gray);
        margin-bottom: 30px!important;
    }
    .login .label {
        font-size: 16px;
        font-weight: 500;
        color: var(--light_black);
        margin-bottom: 10px!important;
    }
    .login .input-field {
        border: 1px solid var(--input_border);
        border-radius: 4px;
        height: 50px;
        font-size: 14px;
        color: var(--medium_gray);
    }
    .login .remember {
        font-size: 14px;
        color: var(--medium_gray);
    }
    .login .checkbox {
        border-radius: 0!important;
        width: 13px;
        height: 13px;
        margin-right: 6px;
        margin-top: 0px;
    }
    .login .forgot-password {
        font-size: 14px;
        color: #7F7D7E;
    }
    .login .login-button {
        background-color: var(--red);
        width: 100%;
        border-radius: 4px;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 30px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            transition: all 0.3s;
        }
    }
    .login .toggle-password {
        color: var(--medium_gray);
        cursor: pointer;
        position: absolute;
        top: 43px;
        font-size: 20px;
        right: 15px;
    }
    .login .no-account {
        font-size: 14px;
        font-weight: 500;
        color: var(--medium_gray);
        text-align: center;
    }
    .login .no-account .span-link {
        color: var(--blue);
    }
/* #endregion */


/* #region Responsive */
    @media (width < 1921px) {}
    @media (width < 1901px) {}
    @media (width < 1851px) {}
    @media (width < 1801px) {}
    @media (width < 1751px) {}
    @media (width < 1681px) {}
    @media (width < 1601px) {}
    @media (width < 1537px) {}
    @media (width < 1441px) {}
    @media (width < 1367px) {}
    @media (width < 1301px) {}
    @media (width < 1281px) {}
    @media (width < 1151px) {}
    @media (width < 1076px) {}
    @media (width < 1025px) {}
    @media (width < 992px) {
        .login .left {
            display: none;
        }
        .login .right {
            padding-left: 12px;
        }
    }
    @media (width < 845px) {}
    @media (width < 768px) {
        .login .title {
            font-size: 20px;
        }
        .login .description {
            font-size: 14px;
            margin-bottom: 15px!important;
        }
        .login .label {
            font-size: 15px;
            margin-bottom: 5px!important;
        }
        .login .input-field {
            height: 45px;
        }
        .login .toggle-password {
            top: 39px;
            font-size: 18px;
        }
        .login .login-button {
            margin-bottom: 10px;
        }
    }
    @media (width < 721px) {}
    @media (width < 576px) {}
    @media (width < 481px) {}
    @media (width < 429px) {
        .login .title {
            margin-bottom: 3px!important;
        }
        .login .label {
            font-size: 14px;
            margin-bottom: 2px!important;
        }
        .login .no-account {
            font-size: 13px;
        }
    }
    @media (width < 415px) {}
    @media (width < 396px) {}
    @media (width < 377px) {}
    @media (width < 361px) {}
    @media (width < 331px) {}
/* #endregion */