/* #region Page */
    .login .right {
        padding-left: 8%;
    }
    .login .image {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .login .title {
        font-size: 32px;
        font-weight: 500;
        color: var(--light_black);
        margin-bottom: 5px!important;
    }
    .login .description {
        font-size: 16px;
        color: var(--gray);
        margin-bottom: 30px!important;
    }
    .login .label {
        font-size: 16px;
        font-weight: 500;
        color: var(--light_black);
        margin-bottom: 10px!important;
    }
    .login .input-field {
        border: 1px solid var(--input_border);
        border-radius: 4px;
        height: 50px;
        font-size: 14px;
        color: var(--medium_gray);
    }
    .login .remember {
        font-size: 14px;
        color: var(--medium_gray);
    }
    .login .checkbox {
        border-radius: 0!important;
        width: 13px;
        height: 13px;
        margin-right: 6px;
        margin-top: 0px;
    }
    .login .forgot-password {
        font-size: 14px;
        color: #7F7D7E;
    }
    .login .login-button {
        background-color: var(--red);
        width: 100%;
        border-radius: 4px;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 30px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            transition: all 0.3s;
        }
    }
    .login .no-account {
        font-size: 14px;
        font-weight: 500;
        color: var(--medium_gray);
        text-align: center;
    }
    .login .no-account .span-link {
        color: var(--blue);
    }
/* #endregion */


/* #region Responsive */
    @media (width <= 1921px) {}
    @media (width <= 1901px) {}
    @media (width <= 1851px) {}
    @media (width <= 1801px) {}
    @media (width <= 1751px) {}
    @media (width <= 1681px) {}
    @media (width <= 1601px) {}
    @media (width <= 1537px) {}
    @media (width <= 1441px) {}
    @media (width <= 1367px) {}
    @media (width <= 1301px) {}
    @media (width <= 1281px) {}
    @media (width <= 1151px) {}
    @media (width <= 1076px) {}
    @media (width <= 1025px) {
        .login .right {
            padding-left: 4%;
        }
    }
    @media (width <= 991px) {}
    @media (width <= 845px) {
        .login .right {
            padding-left: 2%;
        }
    }
    @media (width <= 768px) {
        .login .login-button {
            padding: 12px;
        }
        .login .image {
            display: none;
        }
        .login .col-4 {
            display: none;
        }
        .login .col-8 {
            width: 100%;
        }
        .login .right {
            padding-left: 0;
        }
        .login .title {
            font-size: 24px;
        }
        .login .description {
            font-size: 15px;
        }
    }
    @media (width <= 721px) {
        .login .input-field {
            height: 45px;
        }
    }
    @media (width <= 651px) {
        .login .title {
            font-size: 22px;
        }
        .login .description {
            font-size: 14px;
            margin-bottom: 20px;
        }
        .login .label {
            font-size: 15px;
        }
    }
    @media (width <= 576px) {
        body {
            padding: 0 15px;
        }
        .login .title {
            font-size: 20px;
        }
        .login .description {
            font-size: 13px;
        }
        .login .label {
            font-size: 14px;
        }
        .login .input-field {
            height: 42px;
            font-size: 13px;
        }
        .login .remember,
        .login .forgot-password {
            font-size: 13px;
        }
        .login .login-button {
            padding: 12px 0;
            font-size: 16px;
        }
        .login .no-account {
            font-size: 13px;
        }
    }
    @media (width <= 481px) {
        .login .title {
            font-size: 18px;
        }
        .login .description {
            font-size: 12px;
        }
        .login .label {
            font-size: 13px;
        }
        .login .input-field {
            height: 40px;
        }
        .login .login-button {
            padding: 10px 0;
            font-size: 15px;
        }
    }
    @media (width <= 429px) {
        .login .title {
            font-size: 16px;
        }
        .login .description {
            font-size: 11px;
        }
        .login .input-field {
            height: 38px;
        }
    }
    @media (width <= 415px) {
        .login .title {
            font-size: 16px;
        }
        .login .login-button {
            padding: 8px 0;
            font-size: 14px;
        }
    }
    @media (width <= 396px) {
        .login .title {
            font-size: 14px;
        }
        .login .input-field {
            height: 36px;
        }
    }
    @media (width <= 377px) {
        .login .title {
            font-size: 14px;
        }
        .login .label {
            font-size: 10px;
        }
        .login .login-button {
            font-size: 13px;
        }
    }
    @media (width <= 361px) {
        .login .input-field {
            height: 34px;
        }
    }
    @media (width <= 331px) {
        .login .title {
            font-size: 13px;
        }
        .login .description {
            font-size: 10px;
        }
        .login .label {
            font-size: 11px;
        }
        .login .input-field {
            height: 32px;
            font-size: 12px;
        }
        .login .login-button {
            padding: 6px 0;
            font-size: 12px;
        }
        .login .remember,
        .login .forgot-password,
        .login .no-account {
            font-size: 11px;
        }
    }
/* #endregion */