/* #region Section 2 */
    .support .section-2 .form {
        margin: auto;
        width: 85%;
    }
    .support .section-2 .label {
        font-size: 16px;
        font-weight: 500;
        color: var(--light_black);
        margin-bottom: 10px!important;
    }
    .support .section-2 .input-field {
        border: 1px solid var(--input_border);
        border-radius: 4px;
        height: 50px;
        font-size: 14px;
        color: var(--medium_gray);
    }
    .support .section-2 .submit-button {
        background-color: var(--red);
        width: 25%;
        border: none;
        border-radius: 40px;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        transition: all 0.3s;
        &:hover {
            background-color: var(--light_black);
            transition: all 0.3s;
        }
    }
/* #endregion */


/* #region Responsive */
    @media (width <= 1921px) {}
    @media (width <= 1901px) {}
    @media (width <= 1851px) {}
    @media (width <= 1801px) {}
    @media (width <= 1751px) {}
    @media (width <= 1681px) {}
    @media (width <= 1601px) {}
    @media (width <= 1537px) {}
    @media (width <= 1441px) {}
    @media (width <= 1367px) {}
    @media (width <= 1301px) {}
    @media (width <= 1281px) {}
    @media (width <= 1201px) {}
    @media (width <= 1151px) {}
    @media (width <= 1076px) {}
    @media (width <= 1025px) {}
    @media (width <= 992px) {
        .support .section-2 .form {
            width: 100%;
        }
    }
    @media (width <= 845px) {}
    @media (width <= 768px) {
        .support .section-2 .label {
            font-size: 15px;
            margin-bottom: 5px!important;
        }
        .support .section-2 .input-field {
            height: 45px;
        }
        .support .section-2 .submit-button {
            width: 35%;
            font-size: 16px;
        }
    }
    @media (width <= 721px) {}
    @media (width <= 651px) {}
    @media (width <= 576px) {
        .support .section-2 .label {
            font-size: 14px;
        }
    }
    @media (width <= 481px) {}
    @media (width <= 429px) {
        .support .section-2 .submit-button {
            width: 50%;
        }
    }
    @media (width <= 415px) {}
    @media (width <= 396px) {}
    @media (width <= 377px) {}
    @media (width <= 361px) {}
    @media (width <= 331px) {}
/* #endregion */