/* #region Section 2 */
    .warehouses .section-2 {
        background-color: var(--low_white);
        border-radius: 16px;
        padding: 30px 25px;
    }
    .warehouses .section-2 .top-row {
        align-items: center;
        margin-bottom: 25px;
    }
    .warehouses .section-2 .top-row .title {
        font-size: 20px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 5px;
    }
    .warehouses .section-2 .top-row .description {
        font-size: 15px;
        color: var(--gray);
    }
    .warehouses .section-2 .top-row .right {
        text-align: end;
    }
    .warehouses .section-2 .top-row .right .map-view-button {
        font-style: 14px;
        border-radius: 8px;
        padding: 10px 20px;
        border: 1px solid var(--input_border);
        background-color: var(--medium_white);
        color: var(--gray);
        transition: all 0.3s;
        &:hover{
            border: none;
            color: var(--white);
            background-color: var(--light_black);
            transition: all 0.3s
        }
    }
    .warehouses .section-2 .top-row .right .map-view-button i {
        margin-right: 6px;
        font-size: 16px;
    }
    .warehouses .section-2 .bottom-row .input-field {
        border: 1px solid var(--input_border);
        border-radius: 30px;
        color: var(--gray);
        font-size: 14px;
        background-color: var(--medium_white);
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .warehouses .section-2 .bottom-row .apply-filters-button {
        border: none;
        font-style: 14px;
        border-radius: 30px;
        width: 100%;
        height: 50px;
        background-color: var(--light_black);
        color: var(--white);
        transition: all 0.3s;
        &:hover{
            background-color: var(--red);
            transition: all 0.3s
        }
    }
/* #endregion */


/* #region Section 3 */
    .warehouses .section-3 .warehouse-row .left {
        padding-left: 0;
    }
    .warehouses .section-3 .warehouse-row .right {
        padding-right: 0;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse {
        border: 1px solid var(--input_border);
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 25px;
        position: relative;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse:last-child {
        margin-bottom: 0;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 4px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .badge {
        position: absolute;
        top: 28px;
        left: 28px;
        background-color: var(--red);
        color: var(--white);
        font-size: 12px;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 2px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .type {
        font-size: 14px;
        color: var(--gray);
        padding-bottom: 8px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .price {
        color: var(--red);
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 2px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .price i {
        position: relative;
        font-size: 17px;
        bottom: 10px;
        left: 5px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .name {
        font-size: 16px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 5px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .description {
        font-size: 14px;
        color: var(--gray);
        line-height: 22px;
        padding-bottom: 30px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .location {
        font-size: 14px;
        color: var(--gray);
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .location i {
        font-size: 16px;
        padding-right: 5px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .box {
        background-color: var(--medium_white);
        font-size: 14px;
        color: var(--gray);
        padding: 10px 15px;
        border-radius: 8px;
        margin-top: 15px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .box .action {
        margin-left: 15px;
    }
    .warehouses .section-3 .warehouse-row .single-warehouse .box .action i {
        margin-right: 5px;
    }
    .warehouses .section-3 .sidebar {
        background-color: var(--white);
        border: 1px solid var(--input_border);
        border-radius: 10px;
        padding: 25px 20px;
    }
    .warehouses .section-3 .sidebar .divider {
        border: 1px solid var(--input_border);
        margin-top: 0;
        margin-bottom: 15px;
    }
    .warehouses .section-3 .sidebar .heading {
        font-weight: 600;
        font-size: 16px;
        color: var(--light_black);
        padding-bottom: 15px;
    }
    .warehouses .section-3 .sidebar .item {
        font-size: 14px;
        display: table;
        color: var(--gray);
        padding-bottom: 15px;
    }
    .warehouses .section-3 .sidebar .item:last-child {
        padding-bottom: 0;
    }
/* #endregion */


/* #region Section 4 */
    .warehouses .section-4 .section-title {
        font-size: 25px;
        font-weight: 500;
        color: var(--light_black);
        padding-bottom: 20px;
    }
    .warehouses .section-4 .single-warehouse {
        border: 1px solid var(--input_border);
        border-radius: 8px;
    }
    .warehouses .section-4 .single-warehouse .image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    .warehouses .section-4 .single-warehouse .details {
        padding: 20px 25px;
    }
    .warehouses .section-4 .single-warehouse .details .title {
        font-size: 16px;
        color: var(--light_black);
        padding-bottom: 5px;
    }
    .warehouses .section-4 .single-warehouse .details .subtitle {
        font-size: 14px;
        color: var(--gray);
        padding-bottom: 15px;
    }
    .warehouses .section-4 .single-warehouse .details .price {
        font-size: 16px;
        font-weight: 500;
        color: var(--light_black);
    }
/* #endregion */


/* #region Modal */
    .map-modal .image {
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
/* #endregion */