# Ignore everything
*

# Keep .gitignore
!.gitignore

# Include frontend (optional if needed)
!/frontend/
!/frontend/**

# Unignore backend folder so Git sees it
!/backend/

# Unignore only specific sub folders
!/backend/global/
!/backend/global/**